<form class="form-style-8" [formGroup]="form" (ngSubmit)="save()">
  <h2>Register your {{productCategory}}</h2>
  <ng-container *ngIf="form.controls.author.enabled">
    <input type="text" formControlName="author" placeholder="Author" />
    <div *ngIf="form.controls.author.invalid && showErrors">
      <div *ngIf="form.controls.author.errors.required" class="danger">Author is required.</div>
    </div>
  </ng-container>
  <ng-container *ngIf="form.controls.artist.enabled">
    <input type="text" formControlName="artist" placeholder="Artist" />
    <div *ngIf="form.controls.artist.invalid && showErrors">
      <div *ngIf="form.controls.artist.errors.required" class="danger">Artist is required.</div>
    </div>
  </ng-container>
  <ng-container *ngIf="form.controls.synopsis.enabled">
    <input type="text" formControlName="synopsis" placeholder="Synopsis" />
    <div *ngIf="form.controls.synopsis.invalid && showErrors">
      <div *ngIf="form.controls.synopsis.errors.required" class="danger">Synopsis is required.</div>
    </div>
  </ng-container>
  <input type="email" formControlName="cover" placeholder="Cover" />
  <input type="text" formControlName="title" placeholder="Title" />
  <div *ngIf="form.controls.title.invalid && showErrors">
    <div *ngIf="form.controls.title.errors.required" class="danger">Title is required.</div>
  </div>
  <input type="text" formControlName="releaseDate" placeholder="Release date" />
  <div *ngIf="form.controls.releaseDate.invalid && showErrors">
    <div *ngIf="form.controls.releaseDate.errors.required" class="danger"> Release Date is required.</div>
  </div>
  <input type="text" class="imageName" formControlName="imageName" />
  <button mat-button color="primary" (click)="selectImage()" type="button">Inserir imagem</button>
  <input #imageInput class="image" type="file" accept="image/*" (change)="processFile($event.target.files)" /><br>
  <input type="submit" value="Save" />
</form>