html {
    background-color: #FAF7F2;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
   