<div>
  <button mat-button (click)="setShowAll()">Show all</button>
  <button mat-button (click)="setShowBooks()">Show books</button>
  <button mat-button (click)="setShowCds()">Show cds</button>
  <button mat-button (click)="setShowDvds()">Show dvds</button>

  <div class="dropdown">
    <button class="dropbtn">Register</button>
    <div class="dropdown-content">
      <a href="#" [routerLink]="['./books/new']">Book</a>
      <a href="#" [routerLink]="['./cds/new']">Cd</a>
      <a href="#" [routerLink]="['./dvds/new']">Dvd</a>
    </div>
  </div>
</div>

<div class="container">
  <mat-form-field class="filter">
    <mat-label>Filter by title</mat-label>
    <input matInput [ngModel]="filterValue" (ngModelChange)="applyFilter($event)" placeholder="Search product" #input>
  </mat-form-field>
  <ng-container *ngIf="(isBook || isShowAll) && filteredBooks?.length">
    <h1>Books</h1>
    <app-product-item *ngFor="let book of filteredBooks" baseRoute="books" [item]="book" (deleteClick)="delete('Books', book)">
      <p additionalData>Author: {{book.author}}</p>
    </app-product-item>
  </ng-container>
  <ng-container *ngIf="(isCd || isShowAll) && filteredCds?.length">
    <h1>Cds</h1>
    <app-product-item *ngFor="let cd of filteredCds" baseRoute="cds" [item]="cd" (deleteClick)="delete('Cds', cd)">
      <p additionalData>Artist: {{cd.artist}}</p>
    </app-product-item>
  </ng-container>
  <ng-container *ngIf="(isDvd || isShowAll) && filteredDvds?.length">
    <h1>Dvds</h1>
    <app-product-item *ngFor="let dvd of filteredDvds" baseRoute="dvds" [item]="dvd" (deleteClick)="delete('Dvds', dvd)">
      <p additionalData>Synopsis: {{dvd.synopsis}}</p>
    </app-product-item>
  </ng-container>
</div>
